html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('thankyou.png');
    background-size: contain;             /* Ensures full image is visible */
    background-repeat: no-repeat;
    background-position: center center;   /* Centers both vertically and horizontally */
    background-color: #fff;               /* Optional fallback */
    display: flex;
    align-items: center;
    justify-content: center;
}

a.normal {
    position: absolute;
    bottom: 8px; /* distance from bottom */
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: 600;
    padding: 15px 30px;
    color: #4162f3;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    outline: none;
    transition: 0.2s;
    display: inline-block;
    text-align: center;
}

a:hover.normal {
    background-color: #e23636;
    color: #fff;
    border-radius: 20px;
    padding: 10px 10px;
    cursor: pointer;
}

.thankyou-container {
    text-align: center;
    color: #333;
}



